/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #121212;
    color: #FFFFF0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

/* Barre du haut */
.top-bar {
    background-color: #FFFFF0;
    color: #0e0e0e;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* Menu button */
.menu-button {
    font-size: 1.5rem;
    color: #FFFFF0;
    background: none;
    border: none;
    cursor: pointer;
}

/* Logo */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
}

/* Navigation */
.top-nav {
    margin-right: 50px;
    margin-left: auto;
}

.top-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.top-nav a {
    color: #0e0e0e;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.top-nav.scrolled a{
    color: #FFFFF0;
}

.top-nav a:hover {
    color: #c0c0c0;
}

/* Contact button */
.contact-button {
    background-color: #121212;
    color: #FFFFF0;
    margin-right: 15px;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #FFFFF0;
    border-radius: 1px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.contact-button:hover {
    background-color: #FFFFF0;
    color: #121212;
}

/* Bouton de toggle de la sidebar */
.toggle-sidebar {
    background: none;
    border: none;
    color: #0e0e0ead;
    font-size: 2rem;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: rgba(14, 14, 14, 0.8);
    color: #FFFFF0;
    padding: 40px 20px; /* Augmente le padding pour décaler les éléments */
    text-align: center;
    height: 100vh;
    position: fixed;
    left: -250px;
    top: 52px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

/* Masquer la sidebar */
.sidebar-hidden {
    transform: translateX(250px); /* Décale la sidebar à gauche */
}

/* Main Content */
.main-content {
    padding: 0px;
    flex: 1;
}

.main-content-hidden {
    transform: translateX(250px); /* Décale la sidebar à gauche */
}   

/* Sections */
section {
    padding: 20rem;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 200px;
    }
}

/* Logo et texte dans la barre du haut */
.top-bar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.top-bar .header-text {
    font-size: 1rem;
}

/* Transparence lorsque scroll */
.top-bar.scrolled {
    background-color: rgba(14, 14, 14, 0.8); /* Transparence de 20% */
    color: #FFFFF0;
}

.top-nav.scrolled {
    color: #FFFFF0;
}

/* Bouton de toggle de la sidebar */
.toggle-sidebar.scrolled {
    color: #FFFFF0;
}

/* Profile Picture */
.profile-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center bottom;
    border: 3px solid #FFFFF0;
    margin-bottom: 20px;
    overflow: hidden;
}

.main-profile{
    width: 300px;
    height: 300px;
    object-position: center top;
}

/* Sidebar Navigation */
.sidebar-nav ul {
    list-style: none;
    padding: 0;
}

.sidebar-nav li {
    margin: 15px 0;
}

.sidebar-nav a {
    color: #FFFFF0;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.sidebar-nav a:hover {
    color: #c0c0c0;
}

/* Taille et animation des blocs */
.block {
    background-color: #FFFFF0;
    color: #121212;
    border-radius: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.block:hover {
    transform: scale(1.1);
}

.home {
    background-color: #FFFFF0;
    color: #121212;
}

/* Sections alternées avec couleurs de fond */
#projects {
    background-color: #121212;
    color: #FFFFF0;
}

#experiences {
    color: #FFFFF0;
    background-color: #121212;
}

#personal {
    background-color: #121212;
    color: #FFFFF0;
}

/* Exemple d'image de fond */
#projects {
    background-image: url('images/background_education.jpg');
    background-size: cover;
    background-position: center;
}

/* Exemple d'image de fond */
#experiences {
    background-image: url('images/background_experiences_1.jpg');
    background-size: cover;
    background-position: center;
}

/* Exemple d'image de fond */
#personal {
    background-image: url('images/background_perso.png');
    background-size: cover;
    background-position: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .profile-picture {
        width: 100px;
        height: 100px;
    }

    .main-content {
        margin-left: 200px;
    }
}

/* Footer Style */
.site-footer {
    background-color: #0e0e0e;
    color: #FFFFF0;
    padding: 40px 20px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    padding: 20px;
}

.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    color: #FFFFF0;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #c0c0c0;
}

/* En-tête de la page */
.page-header {
    position: relative;
    text-align: center;
}

.header-image {
    width: 100%;
    /*height: 200px;*/
    object-fit: cover;
}

.page-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFF0;
    font-size: 2.5rem;
}

/* Description Block */
.description-block {
    padding: 2rem;
    background-color: #FFFFF0;
    color: #121212;
    text-align: center;
}

.image-banner {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* Styles de base pour les images du bandeau */
.banner-image {
    position: relative;
    width: 100%;
    height: 300px;
    max-width: 300px; /* Ajuste la taille si nécessaire */
    border-radius: 5px;
    overflow: hidden; /* Assure que l'overlay reste dans les limites de l'image */
    transition: transform 0.3s ease-in-out;
}

.banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

/* Effet zoom sur survol */
.banner-image:hover img {
    transform: scale(1.05); /* Zoom léger */
}

/* Overlay sur survol */
.banner-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Couleur de l'overlay */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

/* Titre sur l'overlay */
.banner-image:hover::before {
    opacity: 1;
}

.banner-image::after {
    content: attr(data-title); /* Affiche le titre depuis un attribut data-title */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
}

.banner-image:hover::after {
    opacity: 1;
}


/* Experience Blocks */
.experience-block {
    display: flex;
    align-items: center;
    padding: 2rem;
    margin: 2rem 0;
}

/* Bloc impair : fond ivoire */
.experience-block:nth-child(even) {
    background-color: #FFFFF0; /* Couleur ivoire */
    color: #121212; /* Texte noir */
}

/* Bloc pair : fond noir */
.experience-block:nth-child(odd) {
    background-color: #121212; /* Couleur noir profond */
    color: #FFFFF0; /* Texte ivoire */
}

.exp-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.left {
    margin-right: 20px;
}

.right {
    margin-left: 20px;
    order: 2;
}

.exp-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement le texte */
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
}

.exp-text p {
    font-family: "Arial", sans-serif; /* Remplace par la police souhaitée */
    font-size: 14px; /* Ajuste la taille du texte */
    line-height: 1.6; /* Ajoute un espacement pour améliorer la lisibilité */
}

/* Animation Scroll */
html {
    scroll-behavior: smooth;
}

/* Bandeau d'en-tête pleine largeur */
.full-width-banner {
    width: 100%;
    height: 100px; /* Ajuste la hauteur selon tes préférences */
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-exp {
    background-image: url('images/background_experiences.jpg');
}

.banner-proj {
    background-image: url('images/background_education.jpg');
}

/* Overlay et titre dans le bandeau */
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Ombre pour améliorer la lisibilité */
}

.page-title {
    color: #FFFFF0;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

/* Contenu masqué par défaut */
.section-content {
    max-height: 0; /* Initialement masqué */
    overflow: hidden; /* Empêche le contenu de dépasser */
    padding: 0; /* Supprime le padding quand masqué */
    color: #0e0e0e;
    background-color: #FFFFF0;
    border: 1px solid #ccc;
    transition: max-height 0.4s ease, padding 0.4s ease, margin 0.4s ease;
    display: flex;
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
    gap: 40px; /* Espacement entre l'image et le texte */
}

/* Contenu visible */
.section-content.active {
    max-height: 500px; /* Une hauteur suffisamment grande pour contenir le contenu */
    padding: 20px; /* Réactive le padding */
}

/* Image */
.section-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0; /* Empêche l'image de se redimensionner */
}

/* Gestion des marges pour alternance */
.left {
    margin-right: 40px;
}

.right {
    margin-left: 40px;
    order: 2;
}

/* Texte */
.section-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement le texte */
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
    margin: 40px;
    width: 50%;
}

/* Style des sections */
.section {
    cursor: pointer;
    padding: 10rem;
    background-color: #FFFFF0;
    color: #121212;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

/* Animation au survol */
.section:hover {
    transform: scale(1.05);
}

/* Style du résumé */
.summary {
    padding: 10rem;
    color: #121212;
    background-color: #FFFFF0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: max-height 0.3s ease-in-out;
}

/* Caché par défaut */
.summary.hidden {
    display: none;
}

/* Style du carrousel */
.carousel {
    position: relative;
    width: 300px;
    height: 300px; /* Même hauteur que l'image */
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    margin: 40px;
    flex-shrink: 0; /* Empêche l'image de se redimensionner */
}

.exp{
    width: 500px;
    height: 500px;
}

.carousel-images {
    display: flex;
    width: 100%; /* Utilise la même taille que l'image */
    height: 100%; /* Même hauteur que l'image */
    transition: transform 0.5s ease-in-out;
    margin-right: 20px;
}

.carousel-images img {
    width: 100%;            /* La largeur prend 100% de l'espace du carrousel */
    height: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    object-fit: cover;
}

/* Flèches de navigation */
.carousel-arrow {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFF0;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(-50%);
}

.carousel-arrow.left {
    left: 10px;
}

.carousel-arrow.right {
    right: 10px;
}

/* Indicateurs */
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.carousel-indicators .dot {
    width: 10px;
    height: 10px;
    background-color: #FFFFF0;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.carousel-indicators .dot.active {
    opacity: 1;
}

.indented-list {
    margin-left: 20px; /* Ajuste l'indentation */
    padding-left: 0; /* Supprime le padding par défaut si nécessaire */
    list-style-position: inside; /* Facultatif : positionne les puces à l'intérieur */
    font-family: "Arial", sans-serif; /* Remplace par la police souhaitée */
    font-size: 14px; /* Ajuste la taille du texte */
    line-height: 1.6; /* Ajoute un espacement pour améliorer la lisibilité */

}

.indented-list li {
    text-indent: 10px; /* Indentation supplémentaire pour chaque ligne de texte */
}

.home-list{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
